Package: com.dnullptr.depuke
Name: DePuke
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.opa334.ccsupport
Description: Backport of iOS 18 Vehicle Motion Cues for iOS 15.0 - 16.5+ (Rootless).
Maintainer: dnullptr
Author: dnullptr
Section: Tweaks
Tag: role::tweaks
Icon: file:///Library/PreferenceBundles/DePukePrefs.bundle/logo@3x.png
Architecture: iphoneos-arm64e
Version: 1.0.1
Installed-Size: 1084
